/Hero.class
/HerosDisponibles.class
/HerosDispo.class
/HerosDisponible.class
/ChoixHero.class
/PouvoirHeroique.class
/PouvoirMage.class
/PouvoirPretre.class
/PouvoirGuerrier.class
/PouvoirVoleur.class
/PouvoirPaladin.class
/PouvoirDruide.class
/PouvoirChasseur.class
